<?xml version="1.0" encoding="utf-8"?>

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="org.videolan.vlc">

    <application
        android:name=".VLCAceStreamApplication"
        android:process=":media"
        tools:replace="android:name"/>

</manifest>
